.title-container{
    width: 100%;
    height: 100px;
    background-color: #1a335f;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.text{
    align-self: center;
    font-size: 22px;
}

.helper{
    align-self: center;
    font-size: 46px;
    margin: auto 32px;
}

.logo {
    align-self: center;
    width: 200px;
    height: 58px;
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    .title-container{ 
        height: 70px;
    }
    .text{
        font-size: 18px;
    }
    .helper{
        font-size: 36px;
    }

    .logo {
    width: 150px;
    height: 43px;
    margin-left: 10px;
}
}