<div class="container">
    <div class="title">
        How's the weather in...
    </div>
    <div class="search-field">
        <div class="icon-container">
            <!-- <div class="icon"></div> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path
                    d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
            </svg>
        </div>
        <input type="text" [(ngModel)]="searchText" (input)="filterList()" class="input" placeholder="search city">
        <button (click)="selectCity()" class="button">+</button>
    </div>
    <div class="results" [style.visibility]="filterdList.length > 0 ? 'visible' : 'hidden'">
        <div *ngFor=" let listItem of filterdList" (click)="completeInput(listItem)" class="result-item">
            {{listItem.name}}
        </div>
    </div>

</div>